header,
footer {
  height: 100px;
}

header {
  /* background-color: #54140a; */
}

main {
  height: calc(100vh - 200px);
  background-color: #54140a;
}

header p {
  font-size: 3em;
  line-height: 90px;
}
